<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Spake.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Spake.Properties.Settings>
            <setting name="IntervalMs" serializeAs="String">
                <value>300000</value>
            </setting>
            <setting name="DurationMs" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="Gain" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="FrequencyHz" serializeAs="String">
                <value>18000</value>
            </setting>
            <setting name="StartAtLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartMinimised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedDevices" serializeAs="String">
                <value />
            </setting>
        </Spake.Properties.Settings>
    </userSettings>
</configuration>